<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="chat.api.mapper.ChatGroupMapper">
    <insert id="insertChatGroups" parameterType="map">
        INSERT INTO
            chat_group (room_id, user_id)
        VALUES
        <foreach collection="participantUserIds" item="userId" separator=",">
            (#{roomId}, #{userId})
        </foreach>
    </insert>
</mapper>